{% extends 'layout.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<title>List of references</title>
<a href='/bibtex'>Create a bibtex file</a>
<br>
<a href='/reset'>Clear my references</a>
<br>
<body>
    {% for source in sources %}
    <div class="flex-container">
        <div>Title: {{ source.title }}</div>
        <div>Author: {{ source.author }}</div>
        <div>publish_year: {{ source.publish_year }}</div>
        <div>Publisher: {{ source.publisher }}</div>
    </div>
    {% endfor %}
</body>
{% for source in sources %}
<b>@{{ source.latex_key }}</b>
<ul>
<li>Title: {{ source.title }} </li>
<li>Author: {{ source.author }} </li>
<li>publish_year: {{ source.publish_year }} </li>
<li>Publisher: {{ source.publisher }} </li>
</ul>
{% endfor %}
{% endblock %}
