{% extends 'layout.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/templates/styles.css">
</head>
<style>
    table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    }

    tbody td {
    text-align: center;
    }
    
    th {
    background-color: #333;
    color: white;
    }

    td {
    letter-spacing: 0.5px;
    }
    
    tbody tr:nth-child(odd) {
    background-color: #D3D3D3;
    }
    
    tbody tr:nth-child(even) {
    background-color: #E5E4E2;
    }
</style>
<title>List of references</title>
<a href='/bibtex'>Create a bibtex file</a>
<br>
<a href='/reset'>Clear my references</a>
<br>

<table>
    <tr>
        <th>Latex key</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publishing year</th>
        <th>Publisher</th>
    </tr>
    <tbody>
    {% for source in sources %}
      <tr>
        <td>@{{ source.latex_key }}</td>
        <td>{{ source.title }}</td>
        <td>{{ source.author }}</td>
        <td>{{ source.publish_year }}</td>
        <td>{{ source.publisher }}</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}