{% extends 'layout.html' %}
{% block content %}

<title>Register</title>
<h2>Register a new account</h2><br>
<form action="/register" method="POST">
    Username:<input type="text" name="username" id="username" maxlength="20"></input><br>
    Password:<input type="password" minlength="6" name="password"></input><br>
    Repeat password: <input type="password" minlength="6" name="password2"></input><br>
    <input type="submit" value="Register"></input>
</form>

{%  if  error %}
<p> <b>Error:</b> {{error}}</p>
{% endif %}

{% endblock %}
