.flex-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

body {background-color: powderblue;}

nav ul {
display: flex;
flex-direction: column;
justify-content: space-between;
}