{% extends 'layout.html' %}
{% block content %}

<title>New tag</title>
<h2>Add a new tag to use with your references</h2>

<form action="/tags" method="POST">
    <input type="hidden" name="user_id" value="{{session.user_id}}">
    Tag name: <input type="text" name="tag_name" id="tag_name" maxlength="20"
    pattern="[a-zA-Z0-9 ]+" title="Special characters are not allowed"><br>
    <input type="submit" value="Submit">

</form>

{%  if  error %}
<p> <b>Error:</b> {{error}}</p>
{% endif %}

{% endblock %}